{{ form_start(formulaire, {'method': form_method, 'action': form_action}) }}
    {{ form_widget(formulaire) }}
    <a href="{{ path('app_lieu_index') }}" class="btn btn-secondary">Administrer les Lieux</a>
{{ form_end(formulaire) }}