{% extends 'base.html.twig' %}

{% block title %}Ajouter un Relevé{% endblock %}

{% block body %}
    <h2 class="ml-3">Ajouter un Relevé</h2>
    <div class="col-md-6 ml-3">
        {{ include('releve/_formulaire.html.twig', {'button_label': 'Ajouter', 'form_method': 'POST', 'form_action': path('app_releve_ajouter') }) }}
    </div>
{% endblock %}